<h1>Здравствуйте!</h1>
<p>
    Во время регистрации на портале <a href={{ url_for('main.index', _external=True) }}>ZBPortal</a> вы, или кто-то другой представились как <b>{{ name }}</b>, и указали ваш адрес электронной почты.
    <br>
    Для того, чтобы воспользоваться нашими услугами, пожалуйста, нажмите на ссылку ниже:
    <br>
    <a href={{ url_for('auth.verify_email', token=token, _external=True) }}>проверить почту</a>
</p>
<p>Если вы не создавали учетную запись, вы можете проигнорировать это сообщение.</p>
